<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpDesk</title>

  
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="script.js"></script>

  <div id="header">
    <div id="header-model-selection">
      <button id="header-model-selection-button"></button>
      <select id="header-model-dropdown"></select>
    </div>
    <div id="header-title">
      OpDesk
    </div>
    <div></div>
  </div>
  <div id="chat-container"></div>
  <div id="char-count">0 / 500</div>
  <div id="input-container">
    <textarea id="user-input" placeholder="Type your message..." rows="1" maxlength="500"></textarea>
    <button id="send-btn">Send</button>
  </div>
</body>
</html>
